/* Main app container */
.App {
  text-align: center;
  background-color: var(--kraft-bg);  /* Kraft paper background */
  font-family: 'Inter', sans-serif; /* Apply Inter font */
}

/* Animation preferences */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Global typography styles */
h1 {
  color: var(--text-primary); /* Ensure text uses --text-primary */
  font-size: 3rem;
  font-family: 'Inter', sans-serif; /* Apply Inter font */
}

p {
  color: var(--text-secondary); /* Change text color to --text-secondary */
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif; /* Apply Inter font */
}

:root {
  /* Existing colors */
  --kraft-bg: #e0d1b9;      /* Main background color */
  --kraft-accent: #d0c1a9;  /* Secondary background color */
  --color-prim: #19120b;  /* Very dark brown for headings */
  --color-seco: #555;   /* Medium gray for body text */
  
  /* Add modal-specific variables */
  --modal-overlay: var(--color-prim); /* Background overlay color for modals */
  --modal-bg: var(--kraft-accent);  /* Background color for modals, using kraft accent color */
  --modal-radius: 8px; /* Border radius for rounded corners of modals */
  --modal-padding: 20px; /* Padding inside modals for spacing */
  --spacing-sm: 0.7rem; /* Small spacing value for layout */
  --spacing-md: 1.5rem; /* Medium spacing value for layout */
  --spacing-lg: 2rem; /* Large spacing value for layout */
  --spacing-xl: 0.5rem; /* Extra large spacing value for layout */
}
